.form-container {
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #473d6e;
    background-color: whitesmoke;
}

.loginmessage{
    font-size: 30px;
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #473d6e;
}

.formfield{
    width: 200px;
    height: 50px;
    outline: none;
    border: 1px solid #473d6e ;
    margin: 2px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

.loginbutton{
    width: 200px;
    height: 50px;
    background-color: #473d6e;
    border-radius: 30px;
    margin: 2px;
    color: whitesmoke;
    outline: none;
    cursor: pointer;
    font-weight: 400;
}

.loginbutton:hover{
    background-color: white;
    color: #473d6e;
}